<header class="header-6">
  <div class="branding">
    <span class="title">Customer Manager</span>
  </div>
  <div class="header-nav">
    <a href="#" class="nav-link"><span class="nav-text">Customers</span></a>
    <a href="#" class="nav-link"><span class="nav-text">Orders</span></a>
    <a href="#" class="nav-link"><span class="nav-text">About</span></a>
    <a href="#" class="nav-link"><span class="nav-text">Login</span></a>
  </div>
</header>
